
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı</label>
    <input type="text" class="form-control" name="ReferenceName" />
    <br />
    <label>Referans Numarası</label>
    <input type="text" class="form-control" name="ReferenceNumber" />
    <br />
    <label>Referans Maili</label>
    <input type="text" class="form-control" name="ReferenceMail" />
    <br />
    <button class="btn btn-info">Referansı Kaydet</button>
</form>



