<section class="w3l-grid-quote text-center py-5">
    <div class="container py-3">
        <h6 class="title-small">Get in touch</h6>
        <h3 class="title-big mb-md-5 mb-4">Let's start a Project! Hire Me.</h3>
        <a href="~/Contact/Index" class="btn btn-style btn-primary mr-2">İlerişime Geç </a>
        <a href="~/Contact/Index" class="btn btn-style btn-outline-primary">Mesaj Gönder</a>
    </div>
</section>  