
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Proje Ekleme Sayfası</h2>

<form method="post">
    <label>Proje Adı</label>
    <input type="text" class="form-control" name="ProjectName" />
    <label>Proje Açıklaması</label>
    <input type="text" class="form-control" name="ProjectDescription" />
    <br />
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>