<section class="w3l-contact-1 py-5">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="d-grid contact-view">
                <div class="cont-details">
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Ara</h6>
                            <p><a href="tel:+44 99 555 42">+@ViewBag.number</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email</h6>
                            <p><a href="mailto:example@mail.com" class="mail">@ViewBag.email</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Adres</h6>
                            <p>@ViewBag.adress</p>
                        </div>
                    </div>
                </div>
                <div class="map-content-9">
                    <form method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="NameSurname" id="w3lName" placeholder="Adınız"
                                   required="">
                            <input type="email" class="form-control" name="SenderMail" id="w3lSender" placeholder="Mail Adresiniz"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="MessageSubject" id="w3lSubject"
                                   placeholder="Konu" required="">
                        </div>
                        <textarea name="Content" class="form-control" id="w3lMessage" placeholder="Mesajınızı Yazabilirsiniz"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-style mt-4">Mesajı Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>